/**/
*{
margin:0;
padding:0;
}

/**/
body{
	background-image: url("../img/binariog.jpg");
	
	/*background-color: #00FF40;*/
	/*background-repeat: repeat;*/
	background-size: 50%;

}

.menu {
  	float: right;
	list-style:none; 
}

/*configuração dos links do menu princi*/
.menu ul li a {
  	display: inline-block;
  	color: #001602;
  	text-align: center;
	margin-top: 40px;
  	padding-right: 5px;
  	text-decoration: none;
	cursor: pointer;
}

.menu ul li{
	display: inline-block;

}
.menu li a p {
	display: none;
}


/**/
div.geral{
		background: rgba(0, 0, 0, 0.8);
        position: absolute;
		width: 1000px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0px);
		min-height: 1600px;

}
div.geralE{
		background: rgba(0, 0, 0, 0.8);
        position: absolute;
		width: 1000px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0px);
		min-height: 100vh;
}

/**/
header{
	top:0px;
  	background-color: rgba(64, 255, 0, 0.5);
  	height: 100px;
	width:100%;
	position:fixed;
  	 
}

/**/
div.logo{
	background-image: url("./img/logoComp.svg");
	width: 50px; 
    height: 50px; 
	margin-top: 25px;
	padding-left: 5px;
	display: inline-block;
}

/**/
div.nomeEmp{
	display: inline-block;

}

/**/
div.botoes{
        display: block;
        width: 491px;
        height:333px;
		margin: 0 auto;
        opacity:1;
		margin-top: 80px;
}

/**/
div.bot-left{
	display: inline-block;
	margin-top: 29%;
	float: left;
	border: 2px solid green;
	background-color:black;
	border-radius: 0.5em;
	
}

/**/
div.img-artigos{
	background-image: url("../img/Firewall.jpg");
	background-repeat: no-repeat;
  	border: 2px solid black;
	display: inline-block;	
	width:400px;
	height:333px;
	background-size:400px;	
	opacity:1;
    /*border: 1px solid green;*/
	border-radius: 0em; /*BordaArredondada*/
	margin-left: 10px;
	}  

/**/
div.bot-right{
    display: inline-block;
	float:right;
	margin-top:29%;
	border: 2px solid green;
	background-color:black;
	border-radius: 0.5em;
	
}

/**/
div.img-tuto-right{
	display: inline-block;
	float: right;
	margin-top:70px;
	height:400px;
	position: relative;
	margin-right: 20px;
	max-width: 400px;
	text-align: center;
}

/**/
div.img-tuto-left{
    display: inline-block;
    float: left;
    margin-top:70px;
	height: 400px;
	position: relative;
	margin-left: 20px;
	max-width: 400px;
	text-align: center;
}

/**/
.img-tuto-left img{
        width: 350px;

}	

/**/
.img-tuto-right img{
        width: 350px;
		
} 

/**/
h3.titulo{
	color: black;
	margin-top: 71%;
	text-align: center;
	font-size: 17px;
}

/**/
div.tutoriais{
	width: 510px;
	min-height: 900px;
	margin-top: 434px;
	left: 19%;
	margin: 0 auto;
	width: 1000px;
	
}

/**/
div.bot-left :hover {
	opacity: 0.5;
}

/**/
div.bot-right :hover {
	opacity: 0.5;
}

/**/
div.img-tuto-left img:hover {
    opacity: 0.5;
	
}

/**/
div.img-tuto-right img:hover {
    opacity: 0.5;
}

/**/
div.corpo{
	background: rgba(0, 0, 0, 0);
    color: white;
	position: absolute;
	width: 1000px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100px);
	min-height: 1600px;
}
div.corpoE{
	background: rgba(0, 0, 0, 0);
    color: white;
	position: absolute;
	width: 1000px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100px);
	min-height: 100vh;
}	


/**/
div.rodape{
    top: 1600px;
  	background-color: rgba(64, 255, 0, 0.5);
  	height: 100px;
	width:100%;
	position:fixed;
	text-align: center;
	padding-top: 20px;
	
}

div.rodapeE{
    top:100vh;
  	background-color: rgba(64, 255, 0, 0.5);
  	height: 100px;
	width:100%;
	position:fixed;
	text-align: center;
	padding-top: 20px;
}


/**/
a h3{
	color: white;
}

/**/
ul li a {
	color: black;
}

/**/
div.bot-right img:hover{
	cursor: pointer;
}

/**/
div.bot-left img:hover{
	cursor: pointer;
}

/**/
div.img-tuto-right img:hover {
        opacity: 0.5;
}

/**/
div.corpo p{
	text-align: justify;	
}

/**/
div.info{
	margin: 20px;
	width: 400px;
	
	
}

/**/
.titulo{
	text-align: center;
	margin-top: 50px;
}

/**/
div.entrar{
		background: rgba(0,0,0,0.6);
        color: white;
        position: relative;
		width: 600px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 50px);
		height: 400px;
		text-align: left;
}

/**/
div.entrar form{
	margin-right: 25%;
	padding-top: 100px;
	text-align: center;
	
}

/**/
div.entrar form a p{
	float: left;
	margin-left: 20%;
	color: red;
	
}

/*Configurações para telas menores que 900px*/
@media only screen and (max-width: 900px) {

	/*MenuDropDown*/
.menu li a p {
	display: block;
}
.menu{
    list-style:none; 
    border:1px solid black; 
    float:none;
	background: green;
	text-align: center;
	margin-top: 5%;
}
.menu li{
    position:relative; 
    float:none; 
    border:1px solid black; 
}
.menu li a{color:black; text-decoration:none; padding:5px 10px; display:block;}

.menu li ul{
    position:absolute; 
    top:25px; 
    left:31%;
    background-color:green; 
    display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
    border:1px solid black; 
    display:block; 
    width:150px;
}

/*Removendo a margem do topo de cada submenu para eles ficarem do tamanho certo*/
.menu ul li a{
	margin-top: 0px;
}
	/******************************************************************/
	header {
		width:400px;
		height: 200px;
	}
	
	/**/
	div.tutoriais{
		width: 350px;
		height: 100%;
	}
	
	/**/
	div.img-tuto-left{
		float: none;
	}
	
	/**/
	div.img-tuto-right{
		float: none;
		
	}
	
	/**/
	div.rodape{
		top: 2400px;	
	}
	div.rodapeE{
		top: 100vh;
		
	}
	/**/
	div.geral{
		min-height: 2400px;
		width: 400px;
	}
	div.geralE{
		min-height: 100vh;
		width: 400px;
	}
	
	/**/
	div.scrollmenu{
		float: none;
		display: block;
		margin-left: 20%;
	}
	
	/**/
	div.scrollmenu ul li ul li{
		display: none;
		margin-top: 0px;
		
		
	}
	
	/**/
	div.scrollmenu ul li{
		display: block;
	}
	
	/**/
	div.scrollmenu ul li:hover ul li {
		display: block;
	}
	
	/**/
	div.logo{
		padding-left: 43%;
		display: block;
		text-align: center;

	}
	
	
	
	div.nomeEmp{
		display: block;
		margin-left: 39%;
	}
	/**/
	div.entrar form{
		display: inline;
	}
	
	/**/
	div.entrar form input {
		display: block;
		margin-left: 10%;
	}
	
	/**/
	div.entrar{
		width: 29%;
		margin-top: 120px;
		height: 300px;
	}
	
	/*colocando o potão de entrar no lado direito*/
	div.botEntrar{
		margin-left: 60%;
		text-align: center;
	}
	
	/*ajustando os links para nova  conta e esqueceu da senha*/
	div.entrar form a p{
		display: block;
		margin-left: 3%;
	}
	
	/*ajustando campo usuário e senha do painel entrar*/
	div.entrar form a h3{
		display: block;
		margin-left: 3%;
	}
	/*para o menu funcionar corretamente*/
	div.corpo{
		position: relative;
	}
	/*para o menu funcionar corretamente*/
	div.corpoE{
		position: relative;
	}
	
	
	/*Configurando Imagem e botões dos artigos da página inicial*/
	div.img-artigos{
		width:320px;
		height:267px;
		background-size:320px;
		margin-left: 0px;
	}
	div.botoes{
        width: 384px;
        height:270px;
		margin-top: 18%;
	}
	div.bot-left{
		border: 0px solid green;
		background-color:black;
	}
	div.bot-right{
		border: 0px solid green;
		background-color:black;
		
	}
	
	/*deixando as imagens dos artigos da esquerda centralizados*/
	div.img-tuto-left{
	margin-left: 0px;
	}
	
	
	/*formatação da página contato*/
	div.info{
		margin-left: 5px;
		width: 350px;
		position: relative;
		margin-top: 15%;
		padding-left: 30%;
		
	}
}

		
